@import "../../styles/abstract/custom-variables";

.ig {
  &_icon {
    border-radius: 12px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    cursor: pointer;
    position: fixed;
    right: 70px;
    bottom: 10.51px;
    z-index: 1;
    font-size: 30px;
    overflow: hidden;
    display: block;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 10px;
    transition: $baseTransition;
    color: $white;
    border: 0;
    outline: 0;
    display: inline-block;
    padding-top: 7px;
    padding-left: 1px;
    &:hover {
      background: radial-gradient(circle at 30% 107%, #6e681c 0%, #b8b057 5%, #cf4539 45%,#aa1d7d 60%,#0f225c 90%);
    }
  }
}
