@import '../../styles/abstract/custom-variables';

.scroll {
    &_to {
        &__top {
            background-color: $secondary;
            cursor: pointer;
            position: fixed;
            right: 20px;
            bottom: 20px;
            z-index: 1;
            font-size: 15px;
            overflow: hidden;
            display: block;
            text-align: center;
            width: 30px;
            height: 30px;
            line-height: 10px;
            transition: $baseTransition;
            color: $white;
            border: 0;
            outline: 0;
            display: inline-block;
            &:hover {
                background-color: $primary;
            }
        }
    }
}
