@import "../../styles/abstract/custom-variables";

.wp {
  &_icon {
    border-radius: 12px;
    background-color: #25D366;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 10.51px;
    z-index: 1;
    font-size: 30px;
    overflow: hidden;
    display: block;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 10px;
    transition: $baseTransition;
    color: $white;
    border: 0;
    outline: 0;
    display: inline-block;
    padding-top: 7px;
    padding-left: 1px;
    &:hover {
      background-color: #075e54;
    }
  }
}
